# Puerto en el que corre la aplicación
PORT={PORT}

# Configuración de Mongo, host, puerto y nombre de la BD
MONGO_HOST={MONGO_HOST}
MONGO_PORT={MONGO_PORT}
MONGO_DB={MONGO_DB}
MONGO_USER={MONGO_USER}
MONGO_PASSWORD={MONGO_PASSWORD}
JWT_SECRET={JWT_SECRET}
JWT_EXPIRE_TIME={JWT_EXPIRE_TIME}